.c-progress {
  position: relative;
  display: block;
  padding: 2rem 1.6rem;
  color: $color-gray-020;
  background-color: $color-white;
  border-radius: 2.2rem;
  &.actv {
    .c-progress__status {
      display: block;
    }
    .c-progress__label {
      color: $color-white;
      background-color: var(
        --c-progress-label-actv-bg,
        #{$color-green-jungle-crayola}
      );
    }
  }
  &.done {
    color: $color-white;
    background-color: var(--c-progress-done-bg, #{$color-green-jungle-crayola});
    .c-progress__icon {
      display: block;
    }
    .c-progress__label {
      color: $color-white;
      background-color: var(
        --c-progress-label-done-bg,
        #{$color-moderate-aquamarine}
      );
    }
    .c-progress__count {
      color: $color-white;
    }
  }
}
.c-progress__status {
  position: absolute;
  top: 0;
  left: 2.4rem;
  display: none;
  width: calc(100% - 2.4rem * 2);
  height: 0.2rem;
  background-color: var(--c-progress-status, #{$color-green-jungle-crayola});
  border-radius: 0 0 0.2rem 0.2rem;
}
.c-progress__icon {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: none;
  svg {
    width: 1.6rem;
    stroke: currentcolor;
    aspect-ratio: 1 / 1;
  }
}
.c-progress__label {
  width: max-content;
  padding: 0.6rem 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: $color-manatee;
  letter-spacing: -0.05rem;
  background-color: $color-gridperlevy;
  border-radius: 1.2rem;
}
.c-progress__name {
  @include text-truncate;
  margin-top: 1.8rem;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 500;
  @include mobile-big {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }
}
.c-progress__count {
  margin-top: 0.8rem;
  font-size: 1.2rem;
  line-height: 1.2rem;
  color: $color-manatee;
  letter-spacing: -0.05rem;
  @include mobile-big {
    margin-top: 1.1rem;
  }
}
