include /elements/head
include /elements/images

- let title = ""
- let logo = ""

block data

doctype html
html(lang="ru")
  +head({ title })
  body
    .page(class=logo)
      .page__row
        if logo === "tbank"
          a.page__logo.tinkoff(href="/")
            +svg({ name: "/img/logo-tbank.svg" })
        if logo === "megafon"
          a.page__logo.megafon(href="/")
            +svg({ name: "/img/logo-megafon.svg" })
      .page__content
        block content
      .page__row
        a.page__logo.pogovorim(href="#")
          +svg({ name: "/img/logo-pogovorim.svg" })
    block modal
    include /elements/script
