-
  let cardsProgress = [
    {
      label: "Категория 1",
      name: "Условия рабочего пространства",
      count: "3 вопроса" ,
      isDone: true,
      isCurrent: false
    },
    {
      label: "Категория 2",
      name: "Рабочие часы и задачи",
      count: "3 вопроса" ,
      isDone: true,
      isCurrent: false
    },
    {
      label: "Категория 3",
      name: "Недостаток ресурсов",
      count: "8 вопросов" ,
      isDone: false,
      isCurrent: true
    },
    {
      label: "Категория 4",
      name: "Условия рабочего пространства",
      count: "3 вопроса" ,
      isDone: false,
      isCurrent: false
    },
    {
      label: "Категория 5",
      name: "Условия рабочего пространства",
      count: "3 вопроса" ,
      isDone: false,
      isCurrent: false
    },

  ]
