include /components/button/btn-default
include /components/button/btn-gradient
include /components/msg

mixin chat({ className })
  .chat(class=className)
    .chat__content-wrp
      .chat__content
        +msg({
          img: brand !== "" ? "/img/userpic-frank-3d.png" : "/img/userpic-frank.png",
          name: "Фрэнк Ансвер",
          spec: "HR-специалист",
          list: [
            {
              text: "Сталкиваетесь ли вы с нехваткой технических или организационных ресурсов для выполнения своей работы?",
              type: "text"
            }
          ]
        })
        +msg({
          type: "out",
          img: brand !== "" ? "/img/userpic-riley-3d.png" : "/img/userpic-jully.png",
          name: "Ваш ответ",
          list: [
            {
              type: "answer"
            }
          ]
        })
    .chat__bottom
      .chat__progress
        | Номер вопроса
        .chat__steps 4 из 8
      if brand !== ""
        +btn-default({ text: "Следующий вопрос" })
      else
        +btn-gradient({ text: "Следующий вопрос" })
