extends /elements/layout-page
include /components/card/c-block

block data
  - title = "Поговорим. Старт (Мегафон)"
  - brand = "megafon"

block content
  .page__center
    .b-block-list
      include /data/cards-block
      each it in cardsBlock
        +c-block(it)

block modal
