extends /elements/layout-page
include /components/card/c-block

block data
  - title = "Поговорим. Старт (Т-банк)"
  - logo = "/img/logo-tbank.svg"

block content
  .page__center
    .b-block-list
      include /data/cards-block
      each it in cardsBlock
        +c-block(it)

block modal
