-
  let bloggersMock = [
    {
      id: '1',
      name: 'ИВАН ИВАНОВ',
      socialType: 1,
      vote: 137,
      image: '/img/blogger.jpg'
    },
    {
      id: '2',
      name: 'Полина Подплетенная',
      socialType: 2,
      vote: 404,
      image: '/img/blogger.jpg'
    },
    {
      id: '3',
      name: 'Юлия Афонина',
      socialType: 1,
      vote: 543,
      image: '/img/blogger.jpg'
    },
    {
      id: '4',
      name: 'Оксана Самойлова',
      socialType: 2,
      vote: 42,
      image: '/img/blogger.jpg'
    },
    {
      id: '5',
      name: 'Алексей Жидковский',
      socialType: 1,
      vote: 137,
      image: '/img/blogger.jpg'
    },
    {
      id: '6',
      name: 'Герман Эль Классико',
      socialType: 2,
      vote: 404,
      image: '/img/blogger.jpg'
    },
    {
      id: '7',
      name: 'Wylsacom',
      socialType: 1,
      vote: 543,
      image: '/img/blogger.jpg'
    },
    {
      id: '8',
      name: '@LapenkoAnton',
      socialType: 2,
      vote: 42,
      image: '/img/blogger.jpg'
    }
  ]
