-
  let expertsMock = [
    {
      company: 'Bubel MGT',
      name: 'Анатолий Марков',
      jobTitle: 'СЕО',
      image: '/img/alexander-kozlov.jpg'
    },
    {
      company: 'DNative',
      name: 'Денис Комилавочников',
      jobTitle:
        'Digital-блогер, SMM-стратег, директор по развитию и сооснователь подкаст-платформы mave.digital',
      image: '/img/denis-komilavochnikov-ovchinnikov.jpg'
    }
  ]
