// fonts
$font-default: "Gilroy", sans-serif;

// breckpoints
// $desktop-width: 192rem;
// $table-width: 102.4rem;
// $mobile-big-width: 76.8rem;
// $mobile-width: 42.5rem;
// $mobile-small-width: 37.5rem;
//
$desktop-big-width: 1920px;
$desktop-width: 1240px;
$table-width: 1024px;
$mobile-big-width: 768px;
$mobile-width: 540px;
$mobile-small-width: 375px;

//
// $container-min-width: 32rem;
$container-min-width: 375px;

// container paddings
$padding: 10.8rem;
$padding-mobile: 2.4rem;
