.b-block-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  @include desktop {
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  }
  @include tablet {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  @include mobile {
    grid-template-columns: auto;
  }
}
