.b-progress-list {
  position: relative;
  width: 100%;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    display: block;
    width: 20.8rem;
    height: 100%;
  }
  &::after {
    right: 0;
    background: linear-gradient(
      270deg,
      #f6f7f8 32.61%,
      rgb(246 247 248 / 0%) 100%
    );
  }
  @include tablet {
    &::before,
    &::after {
      width: 12rem;
    }
  }
  @include mobile {
    &::before,
    &::after {
      display: none;
      width: 6rem;
    }
  }
}
.b-progress-list__wrp {
  // @include hide-scroll;
  // display: flex;
  // align-items: center;
  // gap: 2rem;
  // overflow: scroll;
}
.b-progress-list__item {
  flex-shrink: 0;
  width: 29.5rem;
  // &:not(:last-child) {
  //   margin-right: 2rem;
  // }
  &:last-child {
    // margin-right: 0 !important;
  }
  @include mobile {
    width: 24rem;
  }
}
.b-progress-list__controls {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 3;
  display: grid;
  align-content: center;
  gap: 0.8rem;
  translate: 0 -50%;
  @include mobile {
    display: none;
  }
}
.b-progress-list__btn {
  @include transition(background-color);
  display: grid;
  place-items: center;
  width: 3.8rem;
  margin: 0;
  padding: 0;
  color: $color-gray-020;
  background-color: $color-white;
  border: 0;
  border-radius: 0.4rem;
  aspect-ratio: 1 / 1;
  svg {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: currentcolor;
  }
  &[disabled] {
    color: $color-manatee;
    background-color: transparentize($color-white, 0.3);
  }
  &:not([disabled]):hover,
  &:not([disabled]):focus-visible {
    background-color: transparentize($color-manatee, 0.9);
  }
}
