.btn-default {
  @include transition(opacity, background-color);
  display: block;
  width: max-content;
  min-width: 21.2rem;
  margin: 0;
  padding: 2rem;
  font-family: $font-default;
  font-size: 1.6rem;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  color: var(--btn-default-color, #{$color-gray-020});
  text-decoration: none;
  background-color: var(--btn-default-bg, #{$color-brilliant-greenish-yellow});
  border: 0;
  border-radius: 0.8rem;
  &[disabled] {
    color: $color-manatee;
    background-color: $color-gridperlevy;
    cursor: auto;
  }
  &:not([disabled]):hover,
  &:not([disabled]):focus-visible {
    // background-color: transparentize($color-brilliant-greenish-yellow, 0.2);
    opacity: 0.85;
  }
  &.rounded {
    border-radius: 60rem;
  }
  @include mobile {
    min-width: auto;
    padding: 1.6rem;
    font-size: 1.4rem;
  }
}
